@import "compass";
@import "compass/reset";

body, html {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: '$MENU_medium';
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  @include user-select(none);
}

* {
  -webkit-font-smoothing: antialiased;
  opacity: 0.99999;
}

#toggle-message {
  position: absolute;
  top: 198px;
  left: 60px;
  text-transform: uppercase;
  font-size: 13px;
  transition: opacity 200ms ease;
  text-shadow: 0 0 6px #1551a0;

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

#chat-main-container {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: rgba(0, 46, 88, 0.74);
  -webkit-box-shadow: 0 0 7px 7px rgba(17, 40, 63, 0.94),inset 0 0 94px -17px rgba(59, 99, 134, 0.54);
  border-radius: 2px;
  width: 400px;
  height: 150px;
  //transform: skewX(1deg) rotate(1deg);
  padding: 10px 15px;
  box-sizing: border-box;
  transition: opacity 200ms ease;

  &.hidden {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }

  #chat-messages {
    width: 100%;
    height: 110px;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;

    &:hover {
      overflow-y: overlay;
    }

    &::-webkit-scrollbar {
      visibility: visible;
      background: rgba(231, 235, 239, 0.1);
      width: 5px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar * {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(231, 235, 239, 0.4);
    }


    .chat-message {
      width: 100%;
      margin-bottom: 4px;
      text-shadow: 0 0 6px #1551a0;

      .author {
        font-family: '$MENU_medium';
        font-size: 14px;
        margin-right: 8px;
      }

      .content {
        font-family: '$MENU_medium';
        font-size: 13px;
      }

      &.all {
        .author {
          text-shadow: 0 0 6px #1551a0;
        }
      }

      &.team {
        .author {
          color: #d0f184;
          text-shadow: 0 0 6px #368900;
        }
      }

      &.enemy {
        .author {
          color: #efba84;
          text-shadow: 0 0 6px #962f00;
        }
      }

      &.squad {
        .author {
          color: rgba(144, 231, 244, 0.88);
          text-shadow: 0 0 6px #0051a2;
        }
      }
    }
  }

  #chat-form {
    width: 380px;
    position: absolute;
    bottom: 7px;
    left: 10px;
    right: 10px;
    color: #fff;

    .message-input {
      width: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      line-height: 20px;
      font-family: '$MENU_medium';
      font-size: 13px;
      padding: 0 10px 0 45px;

      &:focus, &:active {
        border: none;
        outline: 0;
      }
    }

    .chat-target {
      position: absolute;
      top: 5px;
      left: 5px;
      text-transform: uppercase;
      font-family: '$MENU_medium';
      font-size: 13px;
    }

    &.inactive {
      .chat-target {
        display: none;
      }
    }
  }
}